/* ============ *\
   RESET
\* ============ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Make HTML 5 elements display block-level for consistent styling */
main, article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}

/* ============ *\
   GENERAL TAGS
\* ============ */

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

p {
	padding: 10px 0;
}

h1,
h2,
h3 {
	font-family: 'Open Sans Condensed', sans-serif;	
}

h1,
h2 {
	font-size: 60px;
	line-height: 60px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-weight: bold;
}

h3 {
	font-size:30px;
	line-height: 30px;
	padding-top: 5px;
	text-transform: uppercase;
	left: 0.75px;
}

::selection {
	background: #000000;
	color: #ffffff;
}

::-moz-selection {
	background: #000000;
	color: #ffffff;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* ============ *\
   STRUCTURE
\* ============ */

.item1 { grid-area: product; }
.item2 { grid-area: cloud; }
.item3 { grid-area: sephiroth; }
.item4 { grid-area: tifa; }
.item5 { grid-area: playstation; }
.item6 { grid-area: squareenix; }
.item7 { grid-area: aerith; }
.item8 { grid-area: barret; }

.container {
	max-width: 1750px;
	margin: 50px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: 
	"product product cloud cloud"
	"product product sephiroth sephiroth"
	"tifa tifa playstation barret"
	"squareenix aerith aerith barret";
}

.container > div {
	display: grid;
	min-height: 440px;
	align-items: center;
  transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

/* PRODUCT */
.item1 {
	position: relative;
	background: url('https://raw.githubusercontent.com/lezusrocks/CSS-Grid-Excercise/master/images/midgar.jpg') center center/cover no-repeat #000000;
	color: #FFFFFF;
	text-shadow: 0 2px 2px rgba(0,0,0,0.50);
}

.item1 div {
	max-width: 45%;
	justify-self: center;
	text-align: center;
	color: #ffffff;
}

.item1 div .copy {
	max-width: 100%;
}

.item1 div img {
	display: block;
	max-width: 260px;
	margin: 0 auto 2em auto;
}

/* CLOUD */
.item2 {
	position: relative;
	background-image: linear-gradient(135deg, #FFFFFF 0%, #829492 100%);
	color: #3D3D3D;
}

.item2 div {
	width: 60%;
	padding: 5%;
}

.item2 div h2 {
	color: #000000;	
}

.item2 div h3 {
	color: #14AF95;
}

.item2 div img {
	display: block;
	position: absolute;
	bottom: 0px;
	right: 2%;
	width: 40%;
}

/* SEPHIROTH */
.item3 {
	position: relative;
	background-image: linear-gradient(-44deg, #000000 0%, #3E504E 100%);
	color: #CCCCCC;
	text-shadow: 0 2px 2px rgba(0,0,0,0.50);
}

.item3 div {
	width: 100%;
	padding: 5% 11% 5% 40%;
}

.item3 div h2 {
	color: #ffffff;	
}

.item3 div img {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 30%;
}

/* TIFA */
.item4 {
	position: relative;
	background-image: linear-gradient(225deg, #D4F6FF 0%, #00020D 100%);
	color: #000000;
}

.item4 div {
	width: 100%;
	padding: 5% 5% 5% 45%;
}

.item4 div h2 {
	color: #000000;	
}

.item4 div h3 {
	color: #ffffff;
}

.item4 div img {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 40%;
}

/* PLAYSTATION */
.item5 {
	position: relative;
	background: #02a9d9;
	background: -moz-radial-gradient(center, ellipse cover,  #02a9d9 0%, #024992 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #02a9d9 0%,#024992 100%);
	background: radial-gradient(ellipse at center,  #02a9d9 0%,#024992 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02a9d9', endColorstr='#024992',GradientType=1 );
	color: #FFFFFF;
	text-align: center;
}

.item5 img {
	margin-bottom: 5px;
}

/* SQUARE ENIX */
.item6 {
	background-image: linear-gradient(0deg, #D8D8D8 0%, #FFFFFF 100%);	
	text-align: center;
}

.item6 img {
	width: 80%;
}

/* AERITH */
.item7 {
	position: relative;
	background-image: linear-gradient(135deg, #220202 0%, #452929 100%);
	color: #FFFFFF;
}

.item7 div {
	width: 100%;
	padding: 5% 6% 5% 45%;
}

.item7 div h2 {
	color: #FFFFFF;	
}

.item7 div h3 {
	color: #A52639;
}

.item7 div img {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 2%;
	width: 38%;
}

/* BARRET */
.container .item8 {
	align-items: start;
}

.item8 {
	position: relative;
	background-image: linear-gradient(135deg, #F2FFEB 0%, #000000 100%);
	color: #3D3D3D;
}

.item8 div {
	padding: 16% 10% 10% 10%;
}

.item8 div h2 {
	color: #000000;
}

.item8 div h3 {
	color: #454417;
}

.item8 div img {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0%;
	width: 90%;
}

/* ============ *\
   ADAPTIVE PROGRAMMING
\* ============ */

/* ====================== *\
   MOBILE
\* ====================== */

@media screen and (max-width: 600px) {
		h1,
	h2 {
		font-size: 50px;
		line-height: 50px;
	}
	
	h3 {
		font-size:24px;
		line-height: 24px;
	}
	
	.container {
			max-width: 100%;
			margin: 0;
			grid-template-areas: 
			"product product product product"
			"cloud cloud cloud cloud"
			"sephiroth sephiroth sephiroth sephiroth"
			"aerith aerith aerith aerith"
			"tifa tifa tifa tifa"
			"barret barret barret barret"
			"playstation playstation playstation playstation"
			"squareenix squareenix squareenix squareenix";
	}
	
	.container > div {
		display: grid;
		min-height: 300px;
		align-items: center;
	}
	
	/* PRODUCT */
	.item1 div {
		align-items: center;
		max-width: 80%;
		padding: 5%;
	}
	
	.item1 div img {
		max-width: 50%;
	}
	
	.item1 div .copy {
		padding: 0;
	}

	/* CLOUD */
	.item2 div {
		width: 100%;
		padding: 5% 5% 80% 5%;
	}

	.item2 div img {
		right: 2%;
		width: 70%;
	}

	/* SEPHIROTH */
	.item3 div {
		padding: 5% 5% 85% 5%
	}

	.item3 div img {
		width: 55%;
	}

	/* TIFA */
	.item4 div {
		padding: 5% 5% 80% 5%;
	}

	.item4 div img {
		width: 65%;
	}

	/* PLAYSTATION */
	.item5 img {
		max-width: 25%;
	}

	/* SQUARE ENIX */
	.item6 img {
		width: 75%;
	}

	/* AERITH */
	.item7 div {
		padding: 5% 5% 80% 5%;
	}

	.item7 div img {
		width: 65%;
	}

	/* BARRET */
	.container .item8 {
		align-items: center;
	}

	.item8 div {
		padding: 5% 5% 80% 5%;
	}

	.item8 div img {
		width: 80%;
	}	
}

/* ====================== *\
   TABLET WIDTH - PORTRAIT
\* ====================== */

@media screen and (min-width:601px) and (max-width:800px) {

	.container {
		max-width: 100%;
		margin: 0;
		grid-template-areas: 
		"product product product product"
		"cloud cloud cloud cloud"
		"sephiroth sephiroth sephiroth sephiroth"
		"aerith aerith aerith aerith"
		"tifa tifa tifa tifa"
		"barret barret barret barret"
		"playstation playstation squareenix squareenix";
	}
	.container > div {
		display: grid;
		min-height: 300px;
		align-items: center;
	}
	
	/* PRODUCT */
	.item1 div {
		align-items: center;
		max-width: 60%;
		padding: 5%;
	}
	
	.item1 div img {
		max-width: 50%;
	}
	
	.item1 div .copy {
		padding: 0;
	}

	/* CLOUD */
	.item2 div {
		width: 100%;
		padding: 0 50% 5% 10%;
	}

	.item2 div img {
		right: 2%;
		width: 45%;
	}

	/* SEPHIROTH */
	.item3 div {
		padding: 0 40% 5% 10%;
	}

	.item3 div img {
		left: inherit;
		right: 0;
		width: 35%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}

	/* TIFA */
	.item4 {
		background-image: linear-gradient(-225deg, #D4F6FF 0%, #00020D 100%);
	}
	
	.item4 div {
		padding: 10% 40% 10% 10%;
	}

	.item4 div img {
		left: inherit;
		right: 0;
		width: 40%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}

	/* PLAYSTATION */
	.item5 img {
		max-width: 40%;
	}

	/* SQUARE ENIX */
	.item6 img {
		width: 75%;
	}

	/* AERITH */
	.item7 div {
		padding: 0 40% 5% 10%;
	}

	.item7 div img {
		left: inherit;
		right: 5%;
		width: 40%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}

	/* BARRET */
	.container .item8 {
		align-items: center;
	}

	.item8 div {
		padding: 10% 40% 10% 10%;
	}

	.item8 div img {
		left: inherit;
		right: 0;
		width: 45%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}
	
}

/* ====================== *\
   TABLET WIDTH - LANDSCAPE
\* ====================== */

@media screen and (min-width:801px) and (max-width:1140px) {

	.container {
		max-width: 100%;
		margin: 0;
		grid-template-areas: 
		"product product product product"
		"cloud cloud sephiroth sephiroth"
		"aerith aerith playstation playstation"
		"squareenix squareenix squareenix squareenix"
		"tifa tifa barret barret";
	}
	.container > div {
		display: grid;
		min-height: 300px;
		align-items: center;
	}
	
	/* PRODUCT */
	.item1 div {
		align-items: center;
		max-width: 60%;
		padding: 5%;
	}
	
	.item1 div img {
		max-width: 50%;
	}
	
	.item1 div .copy {
		padding: 0;
	}

	/* CLOUD */
	.item2 div {
		width: 100%;
		padding: 0 10% 40% 10%;
	}

	.item2 div img {
		right: 2%;
		width: 45%;
	}

	/* SEPHIROTH */
	.item3 div {
		padding: 0 10% 40% 10%;
	}

	.item3 div img {
		left: inherit;
		right: 0;
		width: 35%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}

	/* TIFA */
	.item4 {
		background-image: linear-gradient(-225deg, #D4F6FF 0%, #00020D 100%);
	}
	
	.item4 div {
		padding: 10% 10% 50% 10%;
	}

	.item4 div img {
		left: inherit;
		right: 0;
		width: 40%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}

	/* PLAYSTATION */
	.item5 img {
		max-width: 40%;
	}

	/* SQUARE ENIX */
	.item6 img {
		width: 75%;
	}

	/* AERITH */
	.item7 div {
		padding: 0% 10% 40% 10%;
	}

	.item7 div img {
		left: inherit;
		right: 5%;
		width: 40%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}

	/* BARRET */
	.container .item8 {
		align-items: center;
	}

	.item8 div {
		padding: 0 10% 40% 10%;
	}

	.item8 div img {
		left: inherit;
		right: 0;
		width: 55%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}
	
}

/* ====================== *\
   LATPTOP
\* ====================== */

@media screen and (min-width:1141px) and (max-width:1750px) {
	
	.container {
		margin: 0;
		grid-template-areas: 
		"product product product product"
		"cloud cloud sephiroth sephiroth"
		"aerith aerith playstation squareenix"
		"tifa tifa barret barret";
}
	.container > div {
		display: grid;
		min-height: 400px;
		align-items: center;
	}
	
	/* PRODUCT */
	.item1 div {
		display: flex;
		align-items: center;
		max-width: 60%;
		padding: 5%;
		text-align: left;
	}
	
	.item1 div img {
		max-width: 25%;
		margin: 0;
	}

	.item1 div .copy {
		display: block;
		width: 75%;
	}

	/* CLOUD */
	.item2 div {
		width: 100%;
		padding: 5% 45% 5% 10%;
	}

	/* SEPHIROTH */
	.item3 div {
		padding: 5% 40% 5% 10%;
	}

	.item3 div img {
		left: inherit;
		right: 0;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}

	/* TIFA */
	.item4 {
		background-image: linear-gradient(-225deg, #D4F6FF 0%, #00020D 100%);
	}
	
	.item4 div {
		padding: 5% 45% 5% 10%;
	}

	.item4 div img {
		left: inherit;
		right: 0;
		width: 40%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}

	/* PLAYSTATION */
	.item5 img {
		max-width: 40%;
	}

	/* SQUARE ENIX */
	.item6 img {
		width: 75%;
	}

	/* AERITH */
	.item7 div {
		padding: 5% 45% 5% 10%;
	}

	.item7 div img {
		left: inherit;
		right: 5%;
		width: 40%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}

	/* BARRET */
	.container .item8 {
		align-items: center;
	}

	.item8 div {
		padding: 5% 45% 5% 10%;
	}

	.item8 div img {
		left: inherit;
		right: 0;
		width: 50%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}
	
}
.container{
    height: 60%;
    margin-left: 5%;
    margin-right: 5%;
}